@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

.hove{
    border-radius: 10px;
    cursor: pointer;
}

.hove:hover{
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    transition: .2s;
}

.cd{
    border-radius: 16px;
    margin-top: 20px;
    height: 16rem;
}

.upper_data h4{
    font-size: 18px;
    color: rgba(17,17,17,0.849);
    letter-spacing: .5px;
    font-weight: 500;
}

.upper_data span{
    background-color: rgb(36,150,63);
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 1px;
    width: 45px;
}

.lower_data h5{
    font-size: 15px;
letter-spacing: .4px;
font-weight: 400;
color:rgba(17,17,17,0.849) ;
}

.lower_data span{
    font-size: 15px;
    letter-spacing: .4px;
    color:rgba(17,17,17,0.849) ;
}

.extra{
    border-bottom: 1px solid rgba(17,17,17,0.449);
}

.last_data .limg{
    width: 18px;
}

.last_data p{
    font-size: 14px;
    margin-top: 18px;
    letter-spacing: .2px;
    color: rgba(17,17,17,0.849);
}

.last_data .laimg{
    width: 45px;
}

@media (max-width:600px){
    .con{
        flex-direction: column;
        align-items: center;
    }
    .last_data p{
        font-size: 12px;
    }
    .zomato{
        margin-top: 12px;
        position: none;
    }
}